

.first, .second, .third {
	position: relative;
	width: 1440px;
	height: 900px;
}

body {
	background: url(Rectangle.jpg) no-repeat;
	font-family: Montserrat;
}
.header__logo {
	color: white;
	position: absolute;
	left: 52px;
    top: 36px;
    font-size: 30px;

}
.first__picture {
	position: absolute;
    width: 549px;
    height: 562px;
    left: 186px;
    top: 169px;
    background: url(girl.jpg) no-repeat;
 }
 .first__text {
 	position: absolute;
    width: 491px;
    height: 397px;
    right: 176px;
    top: 263px;
 }
 .first__title{
 	font-size: 80px;
 	font-weight: bold;
 	margin-top: 0;
 	margin-bottom: 26px;
 }
 .first__words {
 	margin-bottom: 36px;
 }
 .first__button-read {
 	border: 1.5px solid #000000;
    box-sizing: border-box;
    background: white;
    font-weight: 500;
    font-size: 13px;
    padding: 14px 41px;
    text-transform: uppercase;
 }
 .first__button-next {
 	position: relative;
 	background-color: white;
    font-weight: 500;
    font-size: 13px;
    border: none;
    text-transform: uppercase;
}
.first__button-next::before {
	content: '';
	position: absolute;
	left: 191px;
	top: 5px;
	border: solid transparent;
    width: 43px;
	border-bottom: 1.5px solid black;
}
.first__button-next::after {
	content: '';
	position: absolute;
	left: 234px;
	top: 6px;
	border: solid transparent;
	border-bottom: 1.5px solid black;
	border-right: 1.5px solid black;
	transform: rotate(-45deg);
}
